# OS X
.DS_Store

# Jekyll build
_site/*
.jekyll-metadata
Gemfile.lock

# webstorm
.idea/

# others
*.swp
_posts/config.json
.temp

# Environment variables
.env
.import-manifest.yaml
/scripts/import-google-docs/venv/*

scripts/__pycache__/*
data/clip_pie_charts/clip_image_embeddings.npz
data/image_clip_index/clip_image_embeddings.npz
