<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>To be a PhD student in Applied Physics</h1>
            <span>Stanford University</span>
            <span><address>CA, US</address><time>2017 to 2023</time></span>
        </header>
        
        <header>
            <h1>B.S. in Physics</h1>
            <span>Tsinghua University</span>
            <span><address>Beijing, China</address><time>2013 to 2017(expected)</time></span>
        </header>
        <p>
            <em>Cumulative GPA: 92.4/100, Ranking: 4/101</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Computer Technology (minor)</h1>
            <span>Tsinghua University</span>
            <span><address>Beijing, China</address><time>2014 to 2017(expected)</time></span>
        </header>
        <!--p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p-->
    </article>    
    <article>
        <header>
            <h1>Selected Courses:</h1>
            <!--span>Tsinghua University</span>
            <span><address>Beijing, China</address><time>2014 to 2017(expected)</time></span-->
        </header>
        <p>
            <em>Mathematics:</em> Mathematical Physics Equations:(100), Complex Analysis:(100), Advanced Calculus(2):(98)
        </p>
        <p>
            <em>Physics:</em> Experiments in Modern Physics(2): (100), Experiments in Modern Physics(1): (98), Quantum Mechanics(2): (98),Quantum Mechanics(1): (95),  Atom and Molecule Physics: (95)
        </p>
        <p>            
            <em>Computer Science:</em> Introduction of Artificial Intelligence: (99),Software Engineering: (96)
        </p>
    </article>
</section>
