<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Team leader of table tennis team in Department of Physics</h1>
            <span><address>Tsinghua University, China</address><time>2014.9 to 2015.9</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>2014 Summer Service Learning Program in Rural China(SSLP)</h1>
            <span><address>Sichuan Province, China</address><time>2014.7 to 2014.8</time></span>
        </header>
        <p>
            Collaborated with volunteers from the UK on voluntary teaching.
        </p>
        <p>
            Designed and delivered courses for senior high school students about physics and mathematics.
        </p>
    </article>
</section>