<section class="thirteen columns">
    <h1>Research &amp; Experience</h1>
    <article>
        <header>
            <h1>Research Assistant, Advisor: Prof. Luming Duan</h1>
            <span><address>Quantum Device Lab, Tsinghua University, Beijing, China</address><time>2015.6 to Present</time></span>
        </header>
        <p><em>Project 1: Band Structure Simulation of Gated Multi-layer Graphene(MLG)</em></p>
        <p>Established models by using COMSOL and calculated real-space band structure of BLG &amp; TLG under gate with abitrary shape. </p>
        <p>Implemented the calculations of graphene quamtum dots transport properties by using <a href="http://kwant-project.org">kwant</a> in Python.</p>
        <p>Identified criteria of formation of graphene quantum dots.</p>
        <p>Calculated Fock-Darwin spectrum of gated BLG &amp; TLG</p>
        <P><em>Project 2: Fully Encapsulated Graphene Quantum Dots in hBN </em> </P>
        <p>Designed and refined a stage for micromanipulating exfoliated hBN. </p>
        <p>Developed a recipe for deterministic transfer of hBN. </p>
        <p>Participated in device fabrication based on nanofabrication technique. </p>
        <p><em> Ongoing project: Coherent coupling of a superconducting qubit to an electron spin ensemble in diamond </em> </p>
        <p>Assist in design, simulation and fabrication of transmission line resonators.</p>
        <p> Perform fabrication and characterization of transmon qubits. </p>

    </article>

    <article>
        <header>
            <h1>Research Assistant, Advisor: Prof. Amir Safavi-Naeini</h1>
            <span><address><a href="http://www.stanford.edu/~safavi/">Laboratory for Integrated Nano-quantum Systems</a>, Stanford University, California, US</address><time>2016.7 to 2016.9</time></span>
        </header>
        <p><em>Project 1: Phonon-phonon Conversion with Cavity Optomechanics</em></p>
        <p>Wrote MATLAB class and GUI for instrument control and automatic experiment. </p>
        <p>Updated experimental setup to suppress mode-drifting and optic fiber vibration.</p>
        <p>Derived theoretic results for the conversion which agree well with simulations and experiments.</p>
        <P><em>Project 2: Nonlinear EIT on photonic crystal cavity optomechanics</em> </P>
        <p>Set up noise up-conversion for driving mechanical mode. </p>

    </article>
    <article>
        <header>
            <h1>Modern Physics Laboratory</h1>
            <span><address>Tsinghua University, Beijing, China</address><time>2015.11 to 2016.7</time></span>
        </header>
        <p><em>Project 1: Entangled Photon by Parametric Down Conversion</em></p>
        <p>Realized polarization entanglement and CHSH inequality violation.</p>
        <p>Proposed an <font style="font-style:italic">in situ</font> method to adjust BBO orientation for max entanglement.</p>
        <P><em>Project 2: Scanning Tunneling Microscope</em> </P>
        <p>Explored tip fabrication and measurement parameters to achieve atomic resolution on graphite surface. </p>
        <p>Examed vacuum system and wrote a user manual for the whole equipment.</p>

    </article>
    <article>
        <header>
            <h1><a href="http://icqm.pku.edu.cn/">International Center for Quantum Materials</a> </h1>
            <span><address>Peking University, Beijing, China</address><time>2015.7</time></span>
        </header>
        <p><em>International Symposium and Summer School of Physics and Device Applications of Two-dimensional Materials</em></p>
        <p>Familiarized and practised on fabrication and properties measurement of 2-D materials</p>

    </article>
</section>
