<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Research Skills</h1>
        </header>
        <p>Physics knowledge of various quantum systems such as quantum dot, qubit, photonic crystal and NV center</p>
        <p>Familiar with cryogenics and vacuum system such as dilution fridge and helium-flow fridge </p>
        <p>Familiar with fiber optics, microwave and related technique </p>
        <p>150-hour state-of-the-art cleanroom working experience</p>
        <p>Parallel computing in Matlab and Mathematica</p>
        <header>
            <h1>Computer Skills</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Matlab, Mathematica, COMSOL, LaTeX, C++, Java</em>
        <!--p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p-->
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C, Fortran</em> &amp; <em>Python</em>
        </p>
    </article>
</section>